<template>
<div class="page-404">
  <center>
    <img src='../../assets/sad.png' alt="sad smiley face" width="20%"/>
    <h1>404</h1>
    <p>Page not found</p>
  </center>
</div>
</template>

<script>
</script>

<style>
.page-404 img{
margin-top:8%
}
.page-404 h1{
  font-size:3em;
}
.page-404 p{
  font-size:1.5em;
}
</style>
