<template>
  <button
    class="answer-btn"
    @click="onAnswerClicked"
   >
   <slot></slot>
  </button>
</template>

<script>
export default {
  name: '',
  props: [],
  methods: {
    onAnswerClicked() {
      //Emit event to the parent
      this.$emit('answer-clicked')
    }
  }
}
</script>

<style scoped>
.answer-btn {
    border: 2px solid #08221b;
    color: white;
    background-color: #6495ED;
    font-size: 1.3em;
    padding: 0.5em 1.5em;
    margin: 0.5%;
    border-radius: 0.4em;
}
</style>
