<template>
<main>
    <div class="quiz-question">
        <h1 class="quiz-question"> {{question}} </h1>
    </div>
</main>
</template>

<script>
export default {
    name: "QuizQuestion",
    props: {
        question:{
            type: Object,
            required: true
        } 
    }
}
</script>

<style scoped>
.quiz-question{
    font-size: 1.5em;
    text-align:center;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
</style>