<template>
<main>
    <div class="quiz-content">
        <div class="question-number">
            <div class="row">
                <div class="column">
                    <h2 class="question-number-display">Question {{currentQuizIndex + 1}}/10</h2>
                </div>
                <div class="column">
                    <h2 class="quiz-timer">
                        <div id="timer">
                            <span id="minutes">{{ minutes }}</span>
                            <span id="middle">:</span>
                            <span id="seconds">{{ seconds }}</span>
                        </div>
                    </h2>
                </div>
            </div>
        </div>
         <div class="progress-bar">
        <b-progress :value=currentQuizIndex+1 :max=11 animated></b-progress>
        </div>
        <section class="quiz">
            <QuestionBox v-html="'<b>Q: </b>' + quizzes[currentQuizIndex].question" class="quiz-question" />
        </section>
        <center>
            <section class="section-btn">
                <AnswerButton @answer-clicked="handleAnswerClicked(shuffledAnswer[0])" v-html="shuffledAnswer[0]" />
                <AnswerButton @answer-clicked="handleAnswerClicked(shuffledAnswer[1])" v-html="shuffledAnswer[1]" />  
                <AnswerButton @answer-clicked="handleAnswerClicked(shuffledAnswer[2])" v-html="shuffledAnswer[2]" />  
                <AnswerButton @answer-clicked="handleAnswerClicked(shuffledAnswer[3])" v-html="shuffledAnswer[3]" />  
            </section>
        </center>
        <div class="score-section">
            <div class="row">
                <div class="column">
                <h2 class="current-score">Current score: {{ score }}</h2>
                </div>
                <div class="column">
                     <button class="restart-btn" @click="reStartClickHandler">Restart quiz</button>
                </div>
            </div>
        </div>
     </div>
</main>
</template>

<script>
import AnswerButton from "./AnswerButton"
import QuestionBox from "./QuestionBox"
import { fetchQuestions } from "../../api/quiz.js"
import { mapMutations } from "vuex"
import { BProgress } from 'bootstrap-vue'

export default {
    name: 'QuizDisplay',
    components: {
        AnswerButton,
        QuestionBox,
        BProgress
    }, 
    created() {
       fetchQuestions().then(quizzes => {
            this.quizzes = quizzes
            this.setQuiz(quizzes)
            this.combineAnswers();
            this.startTimer();
        })
    },
    data() {
        return {
            quizzes: [],
            currentQuizIndex: 0,
            score: 0,
            numAnswers: 0,
            userAnswers: [],
            answers: [],
            shuffledAnswer: [],
            timer: null,
            totalTime: (0),
            correctWrongAnswer: []
        }
    },
    methods: {
        ...mapMutations(['setQuiz']),
        ...mapMutations(['resetState']),
        
        handleAnswerClicked(answer) {
            this.userAnswers.push(answer)
            if (answer === this.quizzes[this.currentQuizIndex].correct_answer){
                this.updateQuizScore()
                this.correctWrongAnswer.push(true);
            }else{
                this.correctWrongAnswer.push(false);
            }
            this.displayNewQuestion()
        },
        //restarts the quiz
        reStartClickHandler() {
            this.resetState(this.quizzes)
            location.reload();
        },
        //displays the next question
        displayNewQuestion(){
            if (this.numAnswers === this.currentQuizIndex) {
                this.numAnswers ++;
            }
            this.currentQuizIndex = this.numAnswers
            //check if quiz is finished
            if (this.numAnswers === 10){
                this.$router.push({
                    name: 'results', 
                    params:{
                        userScore: this.score,
                        userAnswers: this.userAnswers,
                        correctWrongAnswer : this.correctWrongAnswer,
                        timeSpent: this.totalTime,
                    }
                })
                //routes to results if finished
                this.goToResults()
            }
            this.combineAnswers()
        },
        //updates the quiz score
        updateQuizScore(){
            this.score += 10;
        },
        //routes to result screen
        goToResults(){
            this.$router.push('/results')
        },
        //combines the correct and wrong answers in one answer array
        combineAnswers(){
            this.answers = this.quizzes[this.currentQuizIndex].incorrect_answers
            this.answers.push(this.quizzes[this.currentQuizIndex].correct_answer)
            this.shuffleAnswerArray(this.answers)
        },
        //shuffles the answer array
        shuffleAnswerArray(answerArray){
            for (let i = answerArray.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [answerArray[i], answerArray[j]] = [answerArray[j], answerArray[i]];
            }
            this.shuffledAnswer = answerArray;
        },
        //starts the timer
        startTimer() {
            this.timer = setInterval(() => this.countTimeSpent(), 1000);
        },
        padTime(time) {
            return (time < 10 ? '0' : '') + time;
        },
        //counts time spent playing the quiz game
        countTimeSpent() {
            this.totalTime++;
        }
    },
    computed: {
        minutes(){
            const minutes = Math.floor(this.totalTime / 60);
            return this.padTime(minutes);
        },
        seconds(){
            const seconds = this.totalTime - (this.minutes * 60);
            return this.padTime(seconds);
        }
    },
  };
</script>

<style>
.quiz-content{
    background-color: #F5FFFA;
    width: 80%;
    margin-left: 10%;
    vertical-align:center;
    margin-top:10%;
    border-radius:20px;
    border:2px solid black;
}
.question-number{
    width:100%;
    background-color: #87CEEB;
    padding: 0.1em;
    border-radius:20px 20px 0px 0px;
}
.question-number h2{
    padding-left: 1em;
}
.question-number-display{
    float: left;
}
.quiz-timer{
    padding-right:1em;
    text-align: right;
}
.quiz{
    padding-top:2em;
}
.section-btn{
    padding-top:1.5em;
    padding-bottom: 1.5em;
}
.score-section{
    padding-top:0.5em;
    padding-bottom:0.05em;
    width:100%;
    background-color:#87CEEB;
    border-radius:0px 0px 20px 20px;
    font-size: 0.9em;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 10px;
}
.current-score{
    padding-left: 1em;
}
.restart-btn{
    float:right;
    margin-right: 2em;
    background-color: #4a7dcf;
    color: white;
    border: 2px solid #3c2faf;
    font-size: 1.2em;
    border-radius: 0.15em;
    padding: 0.2em 0.5em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
</style>