<template>
<div class="home-page" @click="startClickHandler">
  <center>
    <img src='../../assets/thinking.png' alt="thinking smiley face" width="10%" class="thinking"/>
  </center>
  <h1 class="game-title"> Trivia Game </h1>
  <router-link to="/quiz">
    <center>
      <button class="start-game-btn" >Start game</button>
    </center>
  </router-link>
</div>
</template>

<script>
export default {
  name: 'Start',
  props: {
    msg: String,
  },
  methods: {
    //routes to quiz
    startClickHandler() {
        this.$router.push('/quiz')
    }
  }
}
</script>

<style scoped>
.thinking{
margin-top:10em;
}
.start-game-btn{
  background-color: #4a7dcf;
  color: white;
  border: 2px solid #3c2faf;
  box-shadow: 4px 7px 7px #94c6cf;
  font-size: 3em;
  border-radius: 0.3em;
  padding: 0.2em 1em; 
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.game-title{
  font-size:4.5em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
</style>
