<template>
<main>
    <h1 class="results-title">Results</h1>
    <div class="row">
      <div class="column">
        <Score> {{ userScore }} points</Score>
      </div>
      <div class="column">
        <Time/>
      </div>
    </div>
    <table class="table table-sm" id="results-table">
      <thead>
        <tr class="results-text">
          <th scope="col"><center>Question</center></th>
          <th scope="col">Correct answer </th>
          <th scope="col">  Your answer </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="row-text">
            <div v-for="question of questions" :key="question.value" class="">
              <p v-html="question" class="" >{{ question }}</p>            
            </div>
          </td>
          <td class="row-text">
            <div v-for="correct of correctAnswers" :key="correct.value" class="">
              <p v-html="correct" class="" >{{ correct }}</p>
            </div>
          </td>
          <td class="row-text">
            <div v-for="userAnswer of userAnswers" :key="userAnswer.value" class="rx">
              <p v-html="userAnswer" class="" >{{ userAnswer }}</p> 
            </div>
          </td>
          <td class="row-text">
            <div v-for="correctWrong of correctWrongAnswer" :key="correctWrong.value">
              <p v-if="correctWrong" class="smiley">&#129321;</p>
              <p v-else class="smiley">&#128557;</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <center>
      <button class="restart-game-btn" @click="reStartClickHandler">Play Again</button>
    </center>
</main>
</template>
 
<script>
import  Score  from './Score'
import Time from './Time'
import { mapGetters, mapMutations } from 'vuex'
 
export default {
    name: 'ResultDisplay',
    components: {
      Score,
      Time,     
    }, 
    computed: {
      ...mapGetters({
        correctAnswers: 'correctAnswer',
        questions: 'questionQuiz'
      })
    },
    methods: {
      ...mapMutations(['resetState']),
      reStartClickHandler() {
        this.resetState(this.correctAnswers)
        this.$router.push('/quiz')
      },
    },
    data() {
      return {
        userAnswers: this.$route.params.userAnswers, 
        userScore: this.$route.params.userScore, 
        correctWrongAnswer: this.$route.params.correctWrongAnswer,
        timeSpent: this.$route.params.timeSpent,
        empty: [],
      }
    },  
}
</script>
 
<style>
.results-title{
  text-align:center;
  padding-top: 0.5em;
}
.results-text{
  background-color: #4a7dcf;
  color: white;
  border: 2px solid #3c2faf;
  font-size: 1.2em;
  padding: 0.5em 1.5em;
  margin: 0.5%;
  border-radius: 0.15em;
  border-collapse: collapse;
}
.results-text th{
  padding: 0.5em;
}
.row-text{
  font-size: 1.2em;
}
.row-text p{
  padding: 0.6em;
}
#results-table{
  width:95%;
  margin-left: 2.5%;
}
#results-table th, tr, td{
  overflow: hidden;
}
.restart-game-btn{
  background-color: #4a7dcf;
  color: white;
  border: 2px solid #3c2faf;
  font-size: 2em;
  border-radius: 0.15em;
  padding: 0.2em 0.5em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 10px;
}
</style>
