<template>
<div class="score-box">
    <div class="col" id="left">
        <center>
            <img src="../../assets/trophy.png" alt="trophy emoji" width="80%" class="trophy"/>
        </center>
    </div>
    <div class="col" id="right">
        <p><b> YOUR SCORE:</b> <slot></slot></p>
        <p><b>MAX SCORE:</b> 100 POINTS</p>
    </div>
</div>
</template>

<script>
export default {
    name: "Score",
    props: ['userScore']
}
</script>

<style>
* {
  box-sizing: border-box;
}
.score-box{
   background-color: rgb(89, 116, 207);
  color: white;
  border: 2px solid #3c2faf;
  box-shadow: 4px 7px 7px #94c6cf;
  width:65%;
  font-size: 1.2em;
  border-radius: 0.5em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-left: 10%;
}
.col {
  float:left;
  padding-top: 0.5em;
}
#left{
    width:20%;
}
#right{
    width:80%;
}
.score-box:after {
  content: "";
  display: table;
  clear: both;
}
.trophy{
    margin-top:0%;
}
</style>