<template>
  <div class="time-box">
      <div class="col" id="left">
          <center><img src="../../assets/clock.png" alt="clock emoji" width="100%" class="clock"/></center>
      </div>
      <div class="col" id="right">
          <p><b>Your time:</b> 
              <span id="minutes"> {{ minutes }}</span>
              <span id="middle">:</span>
              <span id="seconds">{{ seconds }}</span>
            </p>
        </div>
  </div>
</template>
 
<script>
export default {
    name: "Time",
       data() {
           return {
               timeSpent: this.$route.params.timeSpent
            }
        },
       methods: {
           padTime(time) {
               return (time < 10 ? '0' : '') + time;
            },
        },
        computed:{
            minutes(){
                const minutes = Math.floor(this.timeSpent / 60);
                return this.padTime(minutes);
            },
            seconds(){
                const seconds = this.timeSpent - (this.minutes * 60);
                return this.padTime(seconds);
            }
        },
}
</script>
 
<style>
.time-box{
    background-color: rgb(89, 116, 207);
  color: white;
  border: 2px solid #3c2faf;
  box-shadow: 4px 7px 7px #94c6cf;
  width:65%;
  font-size: 1.2em;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-left: 10%;
}

* {
  box-sizing: border-box;
}
.col {
  float:left;
  padding-top: 0.5em;
}
#left{
    width:20%;
}
#right{
    width:80%;
}
.time-box:after {
  content: "";
  display: table;
  clear: both;
}
.clock{
    margin-top:0%;
}
</style>
