<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import  QuizDisplay  from './components/Quiz/QuizDisplay'

export default {
  name: 'App',
    data() {
    return {
      userScore: 0,
      userAnswers: QuizDisplay.propUserAnswers,
    }
  }
}
</script>

<style>
/* Import font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: linear-gradient(to bottom, #7EE8FA,#EEC0C6);
  background-attachment: fixed;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-image: "./assets/background.png";
}
</style>
